body {
    background-image: url(official_login_bg.jpg) !important;
    background-position:    center; 
    background-size: cover;
    background-attachment: fixed;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

